setuptools
numpy==1.26.4
plyfile
pytorch-lightning==2.4.0
opencv-python==4.10.0.84
imageio
ftfy
regex
tqdm
#./third_party/CLIP/
git+https://github.com/openai/CLIP.git
altair
streamlit
protobuf
timm
tensorboard
tensorboardX
matplotlib
test-tube
wandb
torchmetrics
scikit-image
scikit-learn
pycocotools
onnxruntime 
onnx
transformers==4.56.2
ultralytics==8.3.204
trimesh==4.8.3
PyYAML==6.0.2
